:root {
    --hero-background: #191919;
    --about-background: #282c34;
    --footer-background: #212529;

    --primary-font: Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --secondary-font: "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --text-color: #000;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 69px; /* Ajusta este valor según la altura del navbar */
}

/* Estilos de la barra de navegación */
.navbar {
    background-color: #d2d2d2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo img {
    width: 250px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar ul li a:hover {
    text-decoration: none;
    color: rgb(203, 29, 29);
    font-weight: bold;
}

nav ul li .btn {
    background-color: black;
    padding: 8px 15px;
    border-radius: 5px;
}

/* Aplicamos las variables a las secciones */
#heroSection {
    background-color: var(--hero-background);
    color: var(--text-color);
    border-bottom: 1px solid #686e73;
}

#news{
    background-color: var(--hero-background);
}

#about-us {
    background-color: var(--hero-background);
    color: var(--text-color);
}

#footerSection {
    background-color: var(--hero-background);
    color: var(--text-color);
}

/* Aplica la fuente principal al body */
body {
    font-family: var(--primary-font);
}

/* Estilos adicionales para el botón */
.btn-primary {
    font-family: var(--primary-font);
    font-weight: bold;
}

.sponsor-card {
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.sponsor-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.sponsor-card:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Efecto para filas clickeables */
#rankingTable tr:hover {
    background-color: #f1f1f1; /* Cambia el color de fondo al pasar el mouse */
    cursor: pointer; /* Cambia el cursor a "pointer" */
    transition: background-color 0.2s ease-in-out; /* Animación suave */
}

#rankingTable tr {
    transition: background-color 0.2s ease-in-out; /* Transición al volver al estado original */
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('img/madryn-portada.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* Capa oscura para mejorar la legibilidad del texto */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* Contenido */
.content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    padding: 20px;
}

.content h1 {
    font-size: 48px;
    font-weight: bold;
}

.content p {
    font-size: 20px;
    margin: 20px 0;
}

.margin-nav {
    margin-top: 75px;
}

/* Sección de redes y patrocinadores */
.social-sponsors {
    background: #191919b7; /* Rojo similar al de la imagen */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.nav-link:focus{
    color: rgb(203, 29, 29);
}

/* Iconos de redes sociales */
.social-icons a {
    color: white;
    font-size: 20px;
    transition: 0.3s;
    text-decoration: none;
}

.social-icons a:hover {
    color: white;
}

/* Logos de patrocinadores con efecto grayscale */
.sponsors {
    display: flex;
    align-items: center;
}

.sponsors img {
    height: 20px; /* Ajusta el tamaño según necesites */
    margin-left: 20px;
    filter: grayscale(1%); /* Escala de grises */
    opacity: 0.6; /* Hace que se vean más apagados */
    transition: filter 0.5s ease, opacity 0.3s ease;
}

.sponsors img:hover {
    filter: grayscale(0%); /* Vuelve al color original */
    opacity: 1; /* Recupera su opacidad */
    cursor: pointer;
}

.social-icons span{
    color: #969696;
}

.social-icons svg{
    color: #323232;
    transition: color 0.5s ease, opacity 0.3s ease;
}

.social-icons svg:hover{
    color: #000000;
}

@media screen and (max-width: 1100px) {
    .social-sponsors {
        display: none;
    }

    .navbar{
        padding: 10px 10px;
    }
}

.navbar-toggler{
    filter: invert(1);
}

.btn-primary {
    padding: 10px 20px;
    background-color: #188f4b !important;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.btn-secondary{
    background-color: #191919 !important;
}

#carouselExample{
    margin: 0 30px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    padding: 15px;
    border-radius: 50px;
}

.carrousel-img{
    height: 400px;
    object-fit: cover;
}

.lead{
    font-style: italic;
}

.fade-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}
